*{
    box-sizing: border-box;
}

body{
    background-color: yellowgreen;
}

.item1{
    grid-area: Popexperience;
}

.item2{
    grid-area: inicio;
    background-color: #F08954;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}
.item3{
    grid-area: musica;
    background-color: #F08954;
    border-radius: 20px;
    margin: 5px;
}
.item4{
    grid-area: manga;
    background-color: #F08954;
    border-radius: 20px;
    margin: 5px;
}
.item5{
    grid-area: videojuegos;
    background-color: #F08954;
    border-radius: 20px;
    margin: 5px;
}
.item6{
    grid-area: cine;
    background-color: #F08954;
    border-radius: 20px;
    margin: 5px;
}

.grid-layout{
    display: grid;
    grid-template-areas:
    'Popexperience Popexperience Popexperience Popexperience Popexperience Popexperience'
    'inicio inicio musica manga videojuegos cine'
    ;
    background-image: url("images/fondo-cabecera.jpg");
    text-decoration: none;
}
.grid-layout > div {
    text-align: center;
    padding: 20px 0;
    font-family: cursive;
    font-size: 15px;
}
.grid-layout > div > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 900;
}
/* aqui empieza el cuerpo de la pagina */

.item-7 {
   grid-area: noticias;
   background-color: #F08954;
   border-radius: 20px;
}  
.item-8{
    grid-area: musicai;
    background-image: url("images/inicio_musica.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 250px;
}
.item-9{
    grid-area: animei;
    background-image: url("images/inicio-anime.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 250px;
}
.item-10{
    grid-area: videoji;
    background-image: url("images/inicio_videojuegos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 250px;
}
.item-11{
    grid-area: cinei;
    background-image: url("images/inicio-cine.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 250px;
    
}

.grid-layout-cuerpoi {
    display: grid;
    grid-template-areas: 
    'noticias noticias noticias noticias noticias noticias'
    'musicai musicai musicai animei animei animei'
    'videoji videoji videoji cinei cinei cinei'
    ;
    gap: 10px;
    background-image: url("images/halo_infinite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
    
}

.grid-layout-cuerpoi > div {
    text-align: center;
    margin: 10px;
}


